<%- include('../../partials/user-header') %>

<div class="post-container" style="padding-top: 4rem">
  <div class="afiye-posts">
    <!-- header for user's name and timestamp -->
    <div class="user-info">
      <!-- profile img -->
      <div class="imgname">
        <%- include('../../partials/avatar', {person: data.postOwner}) %>

        <!-- username -->
        <div>
          <h2>
            <% if (data.postOwner.prefName !== '') { %><%=
            data.postOwner.prefName %><% } else { %><%= data.postOwner.firstName
            %><% } %> <%= data.postOwner.lastName %>
          </h2>
          <span><%- data.postOwner.relation %></span>
        </div>
      </div>

      <!-- timestamp -->
      <div class="timestamp" style="float: right">
        <img
          style="padding-bottom: 10px"
          src="../assets/icons/more-01.svg"
          alt="more"
        />
        <span><%- data.timeStamp %></span>
      </div>
    </div>

    <div>
      <h2><%- data.post.title %></h2>
    </div>
    <div>
      <p><%- data.post.description %></p>
    </div>

    <!-- Actual post -->

    <div class="img">
      <% data.post.media.forEach(media => { %>
      <img class="post-media" src="<%- media %>" />
      <% }) %>
    </div>

    <!-- Tagged users -->

    <div id="tagged">
      <h3>Tagged Family</h3>

      <div id="tagged-members">
        <% if (data.tagged.length > 0) { %>
          <% data.tagged.forEach(member => { %>
            <a href="/account/profile-<%- member.uid %>">
              <%- include('../../partials/avatar', {person: member}) %>
              <p>
                <% if (member.prefName !== '') { %>
                  <%- member.prefName %>
                <% } else { %>
                  <%- member.firstName %>
                <% } %>
              </p>
            </a>
          <% }) %>
        <% } else { %>
          <p>No one is tagged in this memory.</p>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('../../partials/user-mobile-nav') %>
<div class="footer-box">
  <p class="footer-title">© afiye 2020</p>
</div>
