<%- include('../../partials/user-header') %>

<main id="top" class="pageType-profile">
  <section id="profile-overview">
    <%- include('../../partials/avatar', {person: data.profile}) %> 
    <h2>
      <% if (data.profile.prefName !== '') { %> <%- data.profile.prefName %> <%-
      data.profile.lastName %><% } else { %> <%- data.profile.firstName %> <%-
      data.profile.lastName %><% } %>
    </h2>
    <a class="button primary" href="/account/tree">View in Tree</a>
    <div class="bithdate">
      <p>Birth Date</p>
      <span><span class="cake"></span><%- data.profile.birthdate %></span>
    </div>
    <% if (data.profile.location) { %>
    <div class="location">
      <p>Lives in</p>
      <span><span class="map-pin"></span><%- data.profile.location %> </span>
    </div>
    <% } %> <% if (data.profile.claimed === false || data.profile.uid ===
    user.uid) { %>
    <a href="/account/profile-edit-<%- data.profile.uid %>">
      <span class="edit"></span>Edit Profile
    </a>
    <% } %>
  </section>
  <section id="profile-info">
    <div class="tab-bar">
      <a href="#tab-recent-activity">Recent Activity</a>
      <a href="#tab-about">About</a>
    </div>
    <div id="tab-recent-activity">
      <div id="imm-family">
        <h3>Immediate Family</h3>
        <div id="imm-family-members">
          <% data.immFamily.forEach(member => { %>
            <%- include('../../partials/avatar', {person: member}) %> 
          <p>
            <% if (member.prefName !== '') { %>
              <%- member.prefName %>
            <% } else { %>
              <%- member.firstName %>
            <% } %>
          </p>
          <% }); %>
        </div>
      </div>
      <div id="recent-activity" class="post-container">
        <h3>Recent Activity</h3>
        <% if (data.posts.length === 0) { %>
        <div id="no-posts" class="afiye-posts">
          <h2>
            Hmm... It doesn't look like you or your family have shared any
            memories yet.
          </h2>
          <a href="/account/add-post"
            >Create a memory and share it with your family!</a
          >
        </div>
        <% } else { %> <% data.posts.forEach(item => { %> <%-
        include('../../partials/feed-item', {item: item}) %> <% }) %>
        <p>
          You've reached the end of <% if (data.profile.prefName !== '') { %>
          <%- data.profile.prefName %> <% } else { %> <%- data.profile.firstName
          %> <% } %> recent activity. <a href="#top">Back to the top!</a>
        </p>
        <% } %>
      </div>
    </div>
  </section>
</main>

<%- include('../../partials/user-mobile-nav') %>
