<%- include('../partials/front-header') %>

<main>

  <img class="login-bubble1" src="assets/blob-promo-index-hero.svg">
  <img class="login-bubble2" src="assets/blob-promo-index-hero.svg">

  <h1 class="center-header">Reset your password</h1>

  <%- include ('../partials/messages') %>

  <form action="/password-reset/<%- uid %>-<%- valToken %>" method="post">
    <div class="input-container">
      <label for="password">Password</label>
      <input
        class="input"
        type="password"
        name="password"
        placeholder="Create Password"
        value="<%= typeof password != 'undefined' ? password : '' %>"
      />
    </div>
    <div class="input-container">
      <label for="password2">Confirm Password</label>
      <input
        class="input"
        type="password"
        name="password2"
        placeholder="Confirm Password"
        value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
      />
    </div>
    <input type="submit" class="button primary" value="Reset Password"></input>
  </form>
</main>
