<%- include('../partials/front-header') %>

<main>
	<h1 style="text-align: center;">Email has been sent</h1>

	<% if (typeof success_msg !== 'undefined') { %>
		<p style="
		text-align: center;
		max-width: 325px;
		margin-left: auto;
		margin-right: auto;
	"><%- success_msg %> </p>
	<% } %>
	<p>
		<% if(typeof errors != 'undefined') { %>
			<% errors.forEach(function(error){ %>
				<p><%= error.msg %></p>
			<% }) %>
		<% } else { %>
			<%- firstName %>, please check you inbox for
			<strong><%- email %></strong> to confirm your account. Make sure you check
			you spam folder!
		<% } %>
	</p>
	<a style="margin: 0 auto; display: block;" class="button primary" href="/login">Login</a>
	<form action="/register/confirmation-<%- uid %> " method="post" style="
		text-align: center;
		padding-top: 2em;
	">
		<label>Didn't recieve the message?</label>
		<br>
		<input class="button text-only" type="submit" value="Resend" style="margin-top: 1.25em;" />
	</form>
</main>
