<%- include('../partials/front-header') %>

<div id="desktop-register">
  <img class="login-bubble" src="../assets/imgs/blob.png">

  <div class="left">
    <img src="../../assets/imgs/afiye-DesktopIntro.svg">
  </div>

  <div class="right" style=" margin: 0 auto; text-align: center;">
      <h1 style="text-align: center; color: #000000; margin-bottom: 0rem;">Sign Up</h1>
      <p style="margin-bottom: 4rem; color: #4e4b66;"> Create your account</p>

      <%- include ('../partials/messages') %>

      <form action="/register" method="post">
        <div class="input-container">
          <!-- <label for="name">First Name</label> -->
          <input
            style="height: 50px;"
            class="input mobile"
            type="name"
            name="firstName"
            placeholder="First Name"
            value="<%= typeof firstName != 'undefined' ? firstName : '' %>"
          />
        </div>
        <div class="input-container">
          <!-- <label for="name">Last Name</label> -->
          <input
          style="height: 50px;"

            class="input mobile"
            type="name"
            name="lastName"
            placeholder="Last Name"
            value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
          />
        </div>
        <div class="input-container">
          <!-- <label for="email">Email</label> -->
          <input
          style="height: 50px;"

            class="input mobile"
            type="email"
            name="email"
            placeholder="Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="input-container">
          <!-- <label for="password">Password</label> -->
          <input
          style="height: 50px;"

            class="input mobile"
            type="password"
            name="password"
            placeholder="Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="input-container">
          <!-- <label for="password2">Confirm Password</label> -->
          <input
          style="height: 50px;"

            class="input mobile"
            type="password"
            name="password2"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="button primary" style="width: 300px;">Register</button>
      </form>

      <p style="padding-top: 3rem;" class="center-header">Already have an account? <a href="/login">Sign in</a></p>
      
  </div>

</div>

<div class="mobile-register" style=" padding-top: 5rem; margin: 0 auto; width: 300px; text-align: center;">

  <img class="login-bubble1" src="assets/blob-promo-index-hero.svg">
  <img class="login-bubble2" src="assets/blob-promo-index-hero.svg">

  <h1 style="text-align: center; color: #000000; margin-bottom: 0rem;">Sign Up</h1>
  <p style="margin-bottom: 4rem; color: #4e4b66;"> Create your account</p>

  <%- include ('../partials/messages') %>

  <form action="/register" method="post">
    <div class="input-container">
      <!-- <label for="name">First Name</label> -->
      <input
        style="height: 50px;"
        class="input mobile"
        type="name"
        name="firstName"
        placeholder="First Name"
        value="<%= typeof firstName != 'undefined' ? firstName : '' %>"
      />
    </div>
    <div class="input-container">
      <!-- <label for="name">Last Name</label> -->
      <input
      style="height: 50px;"

        class="input mobile"
        type="name"
        name="lastName"
        placeholder="Last Name"
        value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
      />
    </div>
    <div class="input-container">
      <!-- <label for="email">Email</label> -->
      <input
      style="height: 50px;"

        class="input mobile"
        type="email"
        name="email"
        placeholder="Email"
        value="<%= typeof email != 'undefined' ? email : '' %>"
      />
    </div>
    <div class="input-container">
      <!-- <label for="password">Password</label> -->
      <input
      style="height: 50px;"

        class="input mobile"
        type="password"
        name="password"
        placeholder="Password"
        value="<%= typeof password != 'undefined' ? password : '' %>"
      />
    </div>
    <div class="input-container">
      <!-- <label for="password2">Confirm Password</label> -->
      <input
      style="height: 50px;"

        class="input mobile"
        type="password"
        name="password2"
        placeholder="Confirm Password"
        value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
      />
    </div>
    <button type="submit" class="button primary" style="width: 300px;">Register</button>
  </form>

  <p style="padding-top: 3rem;" class="center-header">Already have an account? <a href="/login">Sign in</a></p>
</div>
<!-- 
<main style=" padding-top: 5rem; margin: 0 auto; width: 330px;">

</main> -->
