<%- include('../partials/front-header') %>

<!-- <main style="    width: 360px; margin: 4rem auto; padding-top: 4rem; text-align: center; border-radius: 15px; background-color: white;"> -->

<div id="desktop-register">
  <div class="left">
    <!-- image -->
    <img class="afiye-img" src="../../assets/imgs/afiye-desktopIntro.svg" />
  </div>

  <div class="right" style="height: 56rem">
    <div class="login-logo-section">
      <img
        class="login-logo"
        src="assets\imgs\afiye-icon.png"
        style="width: 80px"
      />
      <h1 style="margin-bottom: 0" class="center-header">Afiye</h1>
      <p style="margin-bottom: 3rem">Your whole family in one place</p>
    </div>

    <%- include ('../partials/messages') %>

    <form action="/login" method="post" style="width: 100%">
      <div class="input-container">
        <label for="name">First Name</label>
        <input
          style="width: 100%"
          class="input"
          type="name"
          name="firstName"
          value="<%= typeof firstName != 'undefined' ? firstName : '' %>"
        />
      </div>
      <div class="input-container">
        <label for="name">Last Name</label>
        <input
          style="width: 100%"
          class="input"
          type="name"
          name="lastName"
          value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
        />
      </div>
      <div class="input-container">
        <label for="email">Email</label>
        <input
          style="width: 100%"
          class="input"
          type="email"
          name="email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />
      </div>
      <div class="input-container">
        <label for="password">Password</label>
        <input
          style="width: 100%"
          class="input"
          type="password"
          name="password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
        />
      </div>
      <div class="input-container">
        <label for="password2">Confirm Password</label>
        <input
          style="width: 100%"
          class="input"
          type="password"
          name="password2"
          value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
        />
      </div>

      <!-- Login button -->
      <button type="submit" class="button primary">Login</button>
    </form>

    <!-- Below Login -->
    <p class="center-header">
      Already have an account? <a href="/register">Sign in</a>
    </p>
  </div>
</div>

<div
  class="mobile-register"
  style="padding-top: 5rem; margin: 0 auto; width: 300px; text-align: center"
>
  <img class="login-bubble1" src="assets/blob-promo-index-hero.svg" />
  <img class="login-bubble2" src="assets/blob-promo-index-hero.svg" />

  <div class="login-logo-section">
    <img
      class="login-logo"
      src="assets\imgs\afiye-icon.png"
      style="width: 80px"
    />
  </div>

  <h1 style="margin-bottom: 0" class="center-header">Afiye</h1>
  <p style="margin-bottom: 3rem">Your whole family in one place</p>

  <%- include ('../partials/messages') %>

  <form action="/register" method="post" style="width: 344px">
    <div class="input-container">
      <label for="name">First Name</label>
      <input
        style="height: 50px"
        class="input mobile"
        type="name"
        name="firstName"
        value="<%= typeof firstName != 'undefined' ? firstName : '' %>"
      />
    </div>
    <div class="input-container">
      <label for="name">Last Name</label>
      <input
        style="height: 50px"
        class="input mobile"
        type="name"
        name="lastName"
        value="<%= typeof lastName != 'undefined' ? lastName : '' %>"
      />
    </div>
    <div class="input-container">
      <label for="email">Email</label>
      <input
        style="height: 50px"
        class="input mobile"
        type="email"
        name="email"
        value="<%= typeof email != 'undefined' ? email : '' %>"
      />
    </div>
    <div class="input-container">
      <label for="password">Password</label>
      <input
        style="height: 50px"
        class="input mobile"
        type="password"
        name="password"
        value="<%= typeof password != 'undefined' ? password : '' %>"
      />
    </div>
    <div class="input-container">
      <label for="password2">Confirm Password</label>
      <input
        style="height: 50px"
        class="input mobile"
        type="password"
        name="password2"
        value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
      />
    </div>
    <button type="submit" class="button primary" style="width: 300px">
      Register
    </button>
  </form>
  <p class="center-header">
    <a href="/password-reset">Forgot password?</a> |
    <a href="/register">Sign Up for Afiye</a>
  </p>
</div>
<!-- </main> -->
