<%- include('../../partials/user-header') %>

<%- include ('../../partials/messages') %>

<div style="margin:40px auto 0;">
  <h1 class="header-title-mobile" style="text-align: center; margin-bottom: 20px;">Change Password</h1>
</div>
<div style="text-align: center; margin: 20px auto; height: 70px;">
  <p class="mobile-text-small" style="text-align: left; margin: 0 auto; padding: 10px 40px; line-height: 24px;  width: 55ch;">
    You can change your password to a more secure one here
  </p>
</div>
<div style="margin: 0 auto; text-align: center; max-width: 600px;">
<form id="change-pass" action="/account/settings-account-change-password" method="post">
  <input type="password" name="currentPassword" style="height: 55px; margin:10px auto 20px" placeholder="Old Password" required> </input>
  <input type="password" name="newPassword" style="height: 55px; margin:10px auto 20px" placeholder="New Password" required value="<%= typeof newPassword != 'undefined' ? newPassword : '' %>"> </input>
  <input type="password" name="newPassword2" style="height: 55px; margin:10px auto 20px" placeholder="Confirm New Password" required value="<%= typeof newPassword2 != 'undefined' ? newPassword2 : '' %>"> </input>
  <input type="submit" class="button primary" style="margin:80px auto 0;" value="Save"></input>
</form>
</div>

<%- include('../../partials/user-mobile-nav') %>