<%- include('../../partials/user-header') %>
<main class="pageType-settings">
  <h1>Settings</h1>
  <div id="settings-menu">
    <div class="menu">
      <div id="menu-email" class="item <% if (section !== undefined && section === 'email') { %>active<% } %>">
        <div class="sub-item">
          <i class="icon icon-mail"></i>
          <span>Change Email</span>
        </div>
        <i class="icon icon-arrow"></i>
      </div>

      <div id="menu-password" class="item <% if (section !== undefined && section === 'password') { %>active<% } %>">
        <div class="sub-item">
          <i class="icon icon-lock-round"></i>
          <span>Change Password</span>
        </div>
        <i class="icon icon-arrow"></i>
      </div>

      <div id="menu-deactivate" class="item <% if (section !== undefined && section === 'deactivate') { %>active<% } %>">
        <div class="sub-item">
          <i class="icon icon-delete"></i>
          <span>Deactivate Account</span>
        </div>
        <i class="icon icon-arrow"></i>
      </div>

      <a href="https://forms.gle/prEqHtih4CTgEbwa9" id="menu-report" class="item" target="_blank">
        <div class="sub-item">
          <i class="icon icon-alert"></i>
          <span>Issue report form</span>
        </div>
        <i class="icon icon-arrow"></i>
      </a>

      <a href="/logout" id="menu-logout" class="item">
        <div class="sub-item">
          <i class="icon icon-cross"></i>
          <span>Sign Out</span>
        </div>
        <i class="icon icon-arrow"></i>
      </a>
    </div>
  </div>

  <div id="settings-items">
    <section id="section-email">
      <button class="button primary icon back">
        <i class="icon icon-arrow"></i>
      </button>

      <h2>Change Email</h2>

      <%- include ('../../partials/messages') %>

      <div style="text-align: center; margin: 20px auto; height: 70px;">
        <p class="mobile-text-small">
          You can change your account's email address here.
        </p>
      </div>
      <form id="change-email" action="/account/settings-account-change-email" method="post">
        <div class="input-container">
          <label for="newEmail">New Email</label>
          <input id="newEmail" class="input" type="email" name="newEmail" placeholder="New Email" required></input>
        </div>
        <input type="submit" class="button primary" value="Update"></input>
      </form>
    </section>

    <section id="section-password">
      <button class="button primary icon back">
        <i class="icon icon-arrow"></i>
      </button>

      <h2>Change Password</h2>

      <%- include ('../../partials/messages') %>

      <div style="text-align: center; margin: 20px auto; height: 70px;">
        <p class="mobile-text-small">
          You can change your account's password here.
        </p>
      </div>
      <form id="change-pass" action="/account/settings-account-change-password" method="post">
        <div class="input-container">
          <label for="currentPassword">Current Password</label>
          <input id="currentPassword" class="input" type="password" name="currentPassword" placeholder="Current Password" required></input>
        </div>
        <div class="input-container">
          <label for="newPassword">New Password</label>
          <input id="newPassword" class="input" type="password" name="newPassword" placeholder="New Password" required value="<%= typeof newPassword != 'undefined' ? newPassword : '' %>"></input>
        </div>
        <div class="input-container">
          <label for="newPassword2">Confirm New Password</label>
          <input id="newPassword2" class="input" type="password" name="newPassword2" placeholder="Confirm New Password" required value="<%= typeof newPassword2 != 'undefined' ? newPassword2 : '' %>"></input>
        </div>
        <input type="submit" class="button primary" value="Update"></input>
      </form>
    </section>

    <section id="section-deactivate">
      <button class="button primary icon back">
        <i class="icon icon-arrow"></i>
      </button>

      <h2>Deactivate Account</h2>

      <%- include ('../../partials/messages') %>

      <div style="text-align: center; margin: 20px auto; height: 70px;">
        <p class="mobile-text-small">
          Your login and member profile will be deactivated. If there are other active family members in your tree, your post and profile data will be maintained, otherwise your data will not be recoverable.
        </p>
      </div>
      <form id="deactivate-form" action="/account/settings-account-deactivate-account" method="post">
        <div class="input-container">
          <label for="password">Password</label>
          <input id="currentPassword" class="input" type="password" name="currentPassword" placeholder="Current Password" required></input>
        </div>
        <button id="open-confirmation" class="button primary open-modal">Deactivate Account</button>
        <div id="deactivate-confirmation" class="modal hidden">
          <div class="modal-inner">
            <h2>Are you sure?</h2>
            <div class="check-container">
              <input
                type="checkbox"
                name="confirmLeave"
                class="checkbox"
                id="confirmLeave"
                required
              />
              <label for="confirmLeave">This action cannot be undone, but an active family member may invite you later.</label>
            </div>
            <input class="button primary" type="submit" value="Deactivate" disabled>
          </div>
        </div>
      </form>
    </section>
  </div>
</main>

<%- include('../../partials/user-mobile-nav') %>
