<% let colorOptions = [ 'pink', 'magenta', 'red', 'orange', 'yellow', 'green',
'teal', 'light-blue', 'dark-blue', 'purple', 'brown', 'gray', 'black' ] %>
<div class="container">
  <section class="image" id="split-form" style="margin: 1rem auto;">
      <img class="login-bubble1" src="../assets/imgs/blob.png">
      <img class="login-bubble2" src="../assets/imgs/blob.png">
    <% if (title === 'Afiye - Making a Tree') { %><h2 id="h2-ob1">Create a Profile</h2><% } else if (title === 'Afiye - Add Family Member') { %><h2 id="h2-ob1">Add a Family Member</h2><% } %>
    <form
      id="profile-setup"
      action="<% if (title === 'Afiye - Making a Tree') { %>
        /account/welcome-make<% } else if (title === 'Afiye - Add Family Member') { %>/account/add-member<% } else if (title === 'Afiye - Edit Profile') { %>/account/edit-profile-<%- user.uid %><% } %>"
      method="post"
      enctype="multipart/form-data"
    >
    <div class="order">
    <div class="profile-top">
      <h2 id="full-name">
        <button id="open-profile" class="open-modal"><img src="" alt="" srcset="" /></button>
        <% if (title === 'Afiye - Making a Tree') { %>
        <span><%- user.firstName %> <%- user.lastName %></span>
        <% } else if (title === 'Afiye - Add Family Member') { %>
        <span style="font-size: 1.8rem;">Tracy Doe</span>
        <% } %>
      </h2>
      <% if (title === 'Afiye - Making a Tree' || title === 'Afiye - Edit Profile') { %>
      <p class="caption">This is how your name will appear to your family</p>
      <% } else if (title === 'Afiye - Add Family Member') { %>
      <!-- <p class="caption">This is how their name will appear to your family</p> -->
      <% } %>
        <div class="pickcolor">
          <fieldset id="profile-color-select" style="margin-top: 15px;">
            <legend>Select a profile color</legend>
            <% for (let i = 0; i < colorOptions.length; i++) { %>
            <div class="check-container">
              <input
                type="radio"
                name="profileColor"
                id="color-<%- colorOptions[i] %>"
                value="profileColor-<%- colorOptions[i] %>"
              />
              <label for="color-<%- colorOptions[i] %>">
                <span><%- colorOptions[i] %></span>
              </label>
            </div>
            <% } %>
          </fieldset>
        </div>
      </div>

        <div class="input-container">
          <label for="firstName">First Name</label>
          <input
            type="text"
            name="firstName"
            class="input"
            id="firstName"
            value="<% if (title === 'Afiye - Making a Tree' || title === 'Afiye - Edit Profile') { %><%- user.firstName %><% } %>"
            required
          />
        </div>
        <div class="input-container">
          <label for="prefName">Preferred First Name</label>
          <input
            type="text"
            name="prefName"
            id="prefName"
            class="input"
          />
        </div>
        <div class="input-container">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            name="lastName"
            class="input"
            id="lastName"
            value="<%- user.lastName %>"
            required
          />
        </div>
        <div class="input-container">
          <label for="gender">Gender</label>
          <select name="gender" id="gender" required>
            <option value="F">Female</option>
            <option value="M">Male</option>
            <option value="N">Non-Binary</option>
            <option value="NA">Prefer not to say</option>
          </select>
        </div>

      <% if (title === 'Afiye - Add Family Member') { %>
          <div class="input-container">
            <label for="relation">Relation</label>
            <select name="relation" id="relation" required>
              <option value="child">Child</option>
              <option value="parent">Parent</option>
              <option value="sibling">Sibling</option>
              <option value="spouse">Spouse</option>
            </select>
          </div>
          <div class="input-container">
            <label for="related">To</label>
            <select name="related" id="related" required>
              <% data.family.forEach(member => { %>
              <% if (member.prefName !== '') { %>
              <option value="<%- member.id %>">
                <%- member.prefName %> <%- member.lastName %>
              </option>
              <% } else { %>
              <option value="<%- member.id %>">
                <%- member.firstName %> <%- member.lastName %>
              </option>
              <% } %> <% }); %>
            </select>
          </div>
          <% } %>
          <div class="input-container">
            <label for="birthdate">Birthdate</label>
            <input
              type="date"
              name="birthdate"
              class="input"
              id="birthdate"
              required
            />
          </div>
          <div class="input-container">
            <label for="location">Location</label>
            <input
              type="text"
              name="location"
              class="input"
              id="location"
            />
          </div>
          <% if (title === 'Afiye - Making a Tree') { %>
          <div class="input-container check-container">
            <input
                type="checkbox"
                name="fakeData"
                class="checkbox"
                id="fakeData"
            />
            <label for="fakeData">Generate fake family data (optional)</label>
          </div>
          <% } %>

      <div id="profile-upload" class="modal hidden">
        <div class="modal-inner">
          <div class="file-input upload">
            <input
              type="file"
              name="profile"
              id="profile"
              accept="image/jpeg image/png"
            />
            <!-- <button id="open-profile"><img src="" alt="" srcset="" /></button> -->
            <label for="profile">Upload</label>
          </div>
          <p>Please upload a picture for your profile</p>
        </div>
      </div>
      <input id="userform-bottom" class="button primary" type="submit" value="Save">
    </form>
  </section>
</div>


