<div class="afiye-posts">
  <!-- header for user's name and timestamp -->
  <div class="user-info">
    <!-- profile img -->
    <div class="imgname">
      <!-- <div class="story">
        <img src="<%= item.ownerData.avatar %>" alt="" />
        <svg viewbox="0 0 100 100">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </div> -->

      <%- include('./avatar', {person: item.ownerData}) %>

      <!-- username -->
      <div id="post-leveler">
        <h2>
          <% if (item.ownerData.prefName !== '') { %><%= item.ownerData.prefName
          %><% } else { %><%= item.ownerData.firstName %><% } %> <%=
          item.ownerData.lastName %>'s <%= item.itemType.charAt(0).toUpperCase() + item.itemType.slice(1) %>
        </h2>
        <span><%- item.timeStamp %> ago</span>
      </div>
    </div>

    <!-- timestamp -->
    <div class="timestamp" style="float: right">
      <img
        src="../assets/imgs/more-feed.png"
        alt="more"
      />
      <!-- <span><%- item.timeStamp %> ago</span> -->
    </div>
  </div>

  <div class="post-title" style=" padding-left: 1rem; padding-top: 1rem; padding-bottom: 1rem;">
    <p><%- item.item.title %></p>
  </div>

  <% if (item.itemType === 'album') { %>
  <a href="/account/album-<%= item.item.family %>-<%= item.item.alid %>">
    <div class="post-media">
      <div class="media-item">
        <img src="<%- item.item.cover %>" />
      </div>
    </div>
  </a>
  <% } else { %>
  <!-- Post images -->
  <a href="/account/post-<%= item.item.family %>-<%= item.item.pid %>">
    <% if (item.item.media.length === 1 ) { %>
    <div class="post-media">
      <div class="media-item">
        <img src="<%- item.item.media[0] %>" />
      </div>
    </div>
    <% } else { %>
    <div class="post-media multi">
      <% for (i = 0; i < 3 && i < item.item.media.length; i++) { %>
      <div class="media-item">
        <img src="<%- item.item.media[i] %> " />
        <% if (i === 2 && item.item.media.length > 3) { %>
        <div class="media-overlay">
          <p>+<%- item.item.media.length - 3 %></p>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
    <% } %>
  </a>
  <% } %>
</div>
