<div class="afiye-posts">
  <!-- header for user's name and timestamp -->
  <div class="user-info">
    <!-- profile img -->
    <div class="imgname">
      <div class="story">
        <img src="<%= item.ownerData.avatar %>" alt="" />
        <svg viewbox="0 0 100 100">
          <circle cx="50" cy="50" r="40" />
        </svg>
      </div>

      <!-- username -->
      <div>
        <h2>
          <% if (item.ownerData.prefName !== '') { %><%= item.ownerData.prefName
          %><% } else { %><%= item.ownerData.firstName %><% } %> <%=
          item.ownerData.lastName %>'s <%= item.itemType.charAt(0).toUpperCase()
          + item.itemType.slice(1) %>
        </h2>
        <span> TBD </span>
      </div>
    </div>

    <!-- timestamp -->
    <div class="timestamp" style="float: right">
      <img
        style="padding-bottom: 10px"
        src="../assets/icons/more-01.svg"
        alt="more"
      />
      <span><%- item.timeStamp %></span>
    </div>
  </div>

  <% if (item.itemType === 'memory') { %>
  <!-- Post images -->
  <a href="/account/post-<%= item.item.family %>-<%= item.item.pid %>">
    <div class="img">
      <% item.item.media.forEach(media => { %>
      <img class="post-media" src="<%- media %>" />
      <% }) %>
    </div>
  </a>
  <% } else { %>
  <a href="/account/album-<%= item.item.family %>-<%= item.item.alid %>">
    <div class="img">
      <img class="album-cover" src="<%- item.item.cover %>" />
    </div>
  </a>
  <% } %>
</div>
